h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(38, 159, 240);
}
canvas {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(240, 51, 98);}
    to {box-shadow: 1px 1px 38px rgb(224, 45, 215);}
}